@model sistema_matricula.Models.Pago

@{
    ViewBag.Title = "Listado de Pagos";
}
<div class="row">
    <div class="col-md-8">
        <h4><i class="glyphicon glyphicon-file"></i>  REGISTRAR PAGOS</h4>
        <br />
        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #0b6d76;color: #fff">REGISTRO DE PAGOS</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaPago, "Fecha de Pago :", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.FechaPago, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })

                                @Html.ValidationMessageFor(model => model.FechaPago, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Idtramite, "Tramite :", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                            <div class="col-md-8">
                                <select id="Idtramite" name="Idtramite" class="form-control">
                                    <option value="">Seleccione una opcion</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Idtramite, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                
                            <input id="idalumno" type="hidden" name="idalumno" value="2" />

                    <br />
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Observacion, "Observacion :", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12 text-center">

                                <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-floppy-disk"></i> REGISTRAR PAGO</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-10" style="color:green">
                                @ViewBag.Message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.ActionLink("<< Volver al Listado", "ListadoP")

        }
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '/Pago/ListTramite/',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Idtramite").append('<option value="' + item.Idtramite + '">' + item.Tramites +  ' -  S/. ' +  item.Costo +  '</option>');
                });

            },
            error: function () {
                console.log('Error');
            }
        });

        $.ajax({
            url: '/Pago/ListAlumno/',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    $("#Idalumno").append('<option value="' + item.Idalumno + '">' + item.Apellidos + '  ' + item.Nombres + '</option>');
                });

            },
            error: function () {
                console.log('Error');
            }
        });

    });


</script>