@model sistema_matricula.Models.Pago

@{
    ViewBag.Title = "Listado de Pagos";
}

    <h4><i class="glyphicon glyphicon-list-alt"></i> PAGOS</h4>

    <table class="table table-bordered ">
        <tr style="background-color:#0b6d76;color:#fff">
            <th>Código</th>
            <th>Fecha de Pago</th>
            <th>Tramite</th>
            <th>Alumno</th>
            <th>Observación</th>
        </tr>
        @foreach (var pagos in Model.ShowallPago)
        {
    <tr>
        <td> @pagos.Idpago</td>
        <td> @pagos.FechaPago</td>

        <td> @pagos.CTramite</td>
        <td> @pagos.CAlumno</td>
        <td> @pagos.Observacion</td>
    </tr>
        }
    </table>

