@model sistema_matricula.Models.Pago

@{
    ViewBag.Title = "Listado de Pagos";
}

    <h4 class="text-center"><i class="glyphicon glyphicon-list-alt"></i> REGISTRO DE PAGOS</h4>
    <p>
        <a href="/Pago/Agregarpago" class="btn btn-danger" title="Agregar Pago"><i class="glyphicon glyphicon-plus"></i> REGISTRAR PAGO</a>
    </p>


    <table class="table table-bordered ">
        <tr style="background-color:#0b6d76;color:#fff">
            <th>Código</th>
            <th>Fecha de Pago</th>
            <th>Trámite</th>
            <th>Alumno</th>
            <th>Observación</th>
            <th class="text-center">Acción</th>
        </tr>
        @foreach (var pagos in Model.ShowallPago)
        {
    <tr>
        <td> @pagos.Idpago</td>
        <td> @pagos.FechaPago</td>
        <td> @pagos.CTramite</td>
        <td> @pagos.CAlumno</td>
        <td> @pagos.Observacion</td>

        <td class="text-center"> <a href="/Pago/DeletePago?cod=@pagos.Idpago" class="btn btn-danger btn-xs"> <i class="glyphicon glyphicon-remove"></i> Borrar</a></td>
    </tr>
        }
    </table>

