@model sistema_matricula.Models.Login
@{
    ViewBag.Title = "Acceso al Sistema";
}

@using (Html.BeginForm("Login"))
{
<fieldset>
    <h3 class="text-center">MODULO DE ACCESO</h3>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }

    <div class="jumbotron" style="border: 1px solid #DEDEDE; background-color: #ccd3d4">
        <div class="row" >
            <div class="col-md-6 " >
                <h3 class="text-left" style="color:#0b6d76; font-weight:bold">ACCESO AL SISTEMA</h3>
                <br />
                <form >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Usuario)
                                @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Usuario)
                            </div>
                        @*</div>
                        <div class="col-md-12">*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.Clave)
                                @Html.PasswordFor(model => model.Clave, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Clave)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="form-group">
                                <input type="submit" value="INICIAR SESION" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-center">
                <img src="../images/acceso.png" alt="acceso" class="img-rounded"/>
            </div>
        </div>
    </div>
</fieldset>
} 


