@model sistema_matricula.Models.Asignatura

@{
    ViewBag.Title = "Listado de Cursos";
}
<h4><i class="glyphicon glyphicon-list-alt"></i> ASIGNATURAS DISPONIBLES</h4>
<div class="row">
    <div class="form-group">
        <div class="col-md-10" style="color:green">
            @ViewBag.Message
        </div>
    </div>
</div>

<table class="table table-bordered ">
    <tr style="background-color:#0b6d76;color:#fff">
        <th># Código</th>
        <th>CURSO / ASIGNATURA</th>
        <th>CREDITOS</th>
        <th>CARRERA</th>
        <th>CICLO</th>
        <th>DOCENTE</th>
        <th>COSTO</th>
        <th>NUMVACANTES</th>
        <th class="text-center">MATRICULARME</th>
    </tr>
    @foreach (var carr in Model.MisAsignaturas)
    {
        <tr>
            <td> @carr.Idasignatura</td>
            <td> @carr.Asignaturas</td>
            <td> @carr.Creditos</td>
            <td> @carr.Carrera</td>
            <td> @carr.Ciclo</td>
            <td> @carr.Docente</td>
            <td> @carr.Costo</td>
            <td> @carr.Numvacante</td>
            <td class="text-center"> <a href="/Asignatura/Matriculame?cod=@carr.Idasignatura" class="btn btn-success btn-xs"> <i class="glyphicon glyphicon-edit"></i> INSCRIBIRME</a></td>
        </tr>
    }
</table>

